# Project: sgryutycrupiuhovmbfo (Session pooler)
DB_HOST=aws-0-ap-south-1.pooler.supabase.com
DB_NAME=postgres
DB_PASSWORD=YOUR_PASSWORD
DB_PORT=5432
DB_USER=postgres.sgryutycrupiuhovmbfo
TZ=Asia/Kolkata

DEVEL_MODE=true
PORT=8081
LOG_LEVEL=debug
SSE_INTERVAL_MS=5000
